<template>

    <div id="people">
        <v-client-table :data="tableData" :columns="columns" :options="options"></v-client-table>
        <button @click='change'>Click</button>
    </div>

</template>

<script>
export default {
  name: 'app',
  data(){

      return{
            columns: ['id', 'name', 'age'],
            tableData: [
                {id: 1, name: "John", age: "20"},
                {id: 2, name: "Jane", age: "24"},
                {id: 3, name: "Susan", age: "16"},
                {id: 4, name: "Chris", age: "55"},
                {id: 5, name: "Dan", age: "40"}
            ],
            options: {
                // see the options API
            },

        }

    },
    methods: {
                change(){
                    this.tableData =  [
                        {id: 1, name: "Joh2n", age: "40"},
                        {id: 2, name: "Jane", age: "24"},
                        {id: 3, name: "Susan", age: "16"},
                        {id: 4, name: "Chris", age: "55"},
                        {id: 5, name: "Dan", age: "40"}
                    ]
                }

            }
}



</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}









</style>
